<component name="libraryTable">
  <library name="log4j">
    <CLASSES>
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/log4j-1.2-api.jar!/" />
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/log4j-api.jar!/" />
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/log4j-core.jar!/" />
      <root url="jar://$TeamCityDistribution$/webapps/ROOT/WEB-INF/lib/log4j-slf4j-impl.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>